
body{
  font-family: Lato, sans-serif;
  margin-left: 20px;
}

hr {
  border-style: dotted none none;
  width: 8%;
  border-width: 10px;
  margin: 30px 70% 30px 30%;
}

td {
  padding: 15px 15px;
  line-height: 1.5;
  vertical-align: top;
}

img {
  height: 250px;
}

.education-list {
  line-height: 1.5;
}

.task-list {
  margin: 0
}

.job-title {
  font-weight: bold;
}
